---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Amazing tailwind animations | Page not found 404">
 <main class="text-slate-400 md:[grid-area:main] p-4 relative h-[80dvh]">
  <section class="grid place-items-center gap-8 max-w-4xl mx-auto h-[80dvh]">
   <h1>404</h1>
   <p>Page not found</p>
   <a href="/">Go back to home</a>
  </section>
 </main>
</Layout>
