---
import Layout from "../layouts/Layout.astro";
import theme from "amazing-tailwind-animations/theme";
import AnimationDisplay from "../components/AnimationDisplay.astro";
import Installation from "../components/Installation.astro";
import Hero from '../components/Hero.astro';
import {ANIMATION_CATEGORIES as animations} from "../utils/constants";
import {groupCategories} from "../utils/groupCategories";
import AsideMenu from "../components/AsideMenu.astro";
const {animation} = theme;
const groupedAnimations = groupCategories(animation, animations);
---

<Layout
	title="Amazing tailwind animations | The package you need for your next astro project"
>
	<AsideMenu />
	<main class="md:[grid-area:main] p-4 relative">
		<Hero />
		<Installation />
		{
			Object.entries(groupedAnimations).sort().map((category) => (
				<AnimationDisplay categoryTitle={category[0]} categoryItems={category[1]} />
			))
		}
	</main>
</Layout>
