<article class="mt-12 flex flex-col gap-4" id="Arbitrary values">
 <h3 class="text-lg md:text-2xl font-semibold">Arbitrary values</h3>
 <p>
  You can modify the properties of your animations using CSS accepted values for
  each animation type passing them through square brackets.
 </p>
 <h4 class="text-lg font-medium">Examples</h4>
 <p>Here are some examples of what you can do with some of these properties.</p>
 <code class="bg-slate-800 text-base rounded-md p-4 mt-4">
  <span class="text-slate-300"
   >&lt;<span class="text-green-300">div</span>
   <span class="text-slate-300"
    ><span class="text-green-500">class</span>="animate-delay-[222ms]"</span
   >&gt;</span
  >
  <span class="text-slate-400">&lt;!-- Your content here --&gt;</span>
  <span class="text-slate-400">&lt;<span class="text-green-300">/div</span>&gt;</span>
  <br />
  <span class="text-gray-100">This will delay your animation by 222ms</span>
  <br />
  <br />
  <span class="text-slate-300"
   >&lt;<span class="text-green-300">button</span>
   <span class="text-slate-300"
    ><span class="text-green-500">class</span
    >="hover:animate-duration-[777ms]"</span
   >&gt;</span
  >
  <span class="text-slate-400">&lt;!-- Your content here --&gt;</span>
  <span class="text-slate-400"
   >&lt;<span class="text-green-300">/button</span>&gt;</span
  >
  <br />
  <span class="text-gray-100">This will make your animation last 777ms</span>
  <br />
 </code>
</article>
