<footer
 class="py-4 px-2 z-10 [grid-area:footer] flex justify-center align-center flex-wrap  gap-2 text-slate-300 text-xs mt-8"
>
 <p class="text-center">
  Created by <a href="https://github.com/juliant908">Julián Tibana</a>
 </p>
 <p class="text-center">
  Based on the <a href="https://tailwindcss-animations.vercel.app/"
   >plugin created by Midudev and his precious community</a
  >
 </p>
 <p class="text-center">
  Which itself was inspired by <a href="https://animation.ibelick.com/"
   >Julien Thibeaut Tailwind animations</a
  >
 </p>
</footer>
