---
import Install from "./InstallationComponents/Install.astro";
import PluginInstall from "./InstallationComponents/PluginInstall.astro";
import UseAnimations from "./InstallationComponents/UseAnimations.astro";
---

<section
 class="flex flex-col gap-8 max-w-4xl mx-auto md:[&>article>p]:text-base [&>article>p]:text-sm"
>
 <article>
  <h2 class="text-xl md:text-3xl font-bold" id="installation">
   Installation and usage
  </h2>
  <p>
   This plugin works alongside TailwindCSS, which is a prerrequisite for the
   plugin to work, so make sure you have it installed and set up in your
   framework of choice before using the animations displayed below.
  </p>
  <Install />
 </article>
 <article>
  <PluginInstall />
 </article>
 <article>
  <UseAnimations />
 </article>
 <article class="mb-12">
  <h2 class="text-lg md:text-2xl font-semibold" id="customize">
   Customize your animations!
  </h2>
  <p>
   You can adjust your animations duration, fill mode, delay, steps, iteration
   count, range, and much more!
  </p>
  <p>
   Click <span
    ><a class="underline text-green-300" href="/customize">here</a></span
   > to see how you can do it.
  </p>
 </article>
</section>

<style>
 article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
 }

 #installation,
 #setup,
 #usage,
 #customize {
  padding-top: var(--section-spacing);
  margin-top: calc(var(--section-spacing) * -1);
 }
</style>
