<h3 class="text-lg md:text-2xl font-semibold">
 Add the plugin to your <code class="text-base bg-zinc-800 p-1 mx-1"
  >tailwind.config.mjs</code
 > file
</h3>
<code class="bg-slate-800 text-base text-green-500 rounded-md p-4 mt-4">
 <span>import</span>
 <span class="text-gray-200">amazingAnimations</span>
 <span>from</span>
 <span class="text-gray-200">'amazingAnimations/plugin'</span>
 <br />
 <br />
 <span>export default &lbrace;</span>
 <br />
 <span>&nbsp;&nbsp;</span>
 <span class="text-gray-400">// rest of your config</span>
 <br />
 <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
 <span class="text-gray-200">plugins:</span>
 <span class="text-gray-200">[amazingAnimations]</span>
 <br />
 <span>&rbrace;</span>
 <br />
</code>
