<h3 class="text-lg md:text-2xl font-semibold mt-4">Use the animations</h3>
<p>
 Once you have the plugin installed and added to your tailwind config file, you
 can use the animations by adding the classes to your HTML elements.
</p>
<p>
 The classes are named after the animation they apply, and they are prefixed
 with <code class="text-base bg-slate-800 p-1 rounded-md mx-1">animate-</code> to
 make them easier to identify.
</p>
<p>
 You can also use the <code class="text-base bg-slate-800 rounded-md p-1 mx-1"
  >hover:</code
 >
 and <code class="text-base bg-slate-800 rounded-md p-1 mx-1">focus:</code> prefixes
 to apply the animations on hover and focus states.
</p>
<p>Here are some examples of how to use the animations in your HTML:</p>
<code class="bg-slate-800 text-base rounded-md p-4 mt-4 text-slate-300">
 <span>
  &lt;<span class="text-green-300"
   >div
   <span class="text-green-500">class</span><span class="text-slate-300"
    >="animate-bounce"&gt;</span
   >
  </span>
  <span class="text-slate-400">&lt;!-- Your content here --&gt;</span>
  <span>&lt;<span class="text-green-300">/div</span>&gt;</span>
  <br />
  <br />
  <span
   >&lt;<span class="text-green-300">button</span>
   <span class="text-green-500">class</span><span>="hover:animate-pulse"</span>&gt;</span
  >
  <span class="text-slate-400">&lt;!-- Your content here --&gt;</span>
  <span>&lt;<span class="text-green-300">/button</span>&gt;</span>
  <br />
  <br />
  <span
   >&lt;<span class="text-green-300">input</span>
   <span class="text-slate-300"><span class="text-green-500">type</span>="text" <span class="text-green-500">class</span>="focus:animate-wobble"</span
   >&gt;</span
  >
 </span>
</code>
